header{
    background-image: url(https://png.pngtree.com/background/20210710/original/pngtree-internet-statistical-analysis-banner-background-picture-image_1044964.jpg);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
h1{
   width: 30%;
   color: white;
}
h3{
    width: 76%;
   color: white;
}
.main{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}
.passed{
    background-color: cadetblue;
    margin-bottom: 20px;
    width: 51%;
    display: flex;
    justify-content: space-around;
}
.falled{
    background-color: tomato;
    margin-bottom: 20px;
    width: 51%;
    display: flex;
    justify-content: space-around;
}
.result{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
form{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    background-color: whitesmoke;
}
#add{
    color: green;
    border-style: hidden;
    padding: 15px;
    background-color: whitesmoke;
}
#grade{
    margin-left: 5px;
    border-radius: 4px;
    border-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}
#name{
    margin-left: 5px;
    border-radius: 6px;
    border-color: lightseagreen;
    margin-top: 10px;
    margin-bottom: 10px;
}
#subject{
    margin-left: 5px;
    border-radius: 4px;
    border-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}
.error{
    border-style: 1px solid tomato;
    color: tomato;
}
.result-message-p{
    list-style-type: none;
    margin-left: 20%;
    margin-top: 50px;
    width: 50%;
}
.result-message-f{
    list-style-type: none;
    margin-right: 20%;
    margin-top: 50px;
    width: 50%;
}
.falled-li{
    width: 50%;
    color: tomato;
}
.passed-li{
    width: 50%;
}
.container{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.counterP{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.counterF{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.procentageF{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

