.main{
    margin: 0 auto;
    width: 80%;
    border: 1px solid black;
    padding: 10px;
    background-image: url(https://mcdn.wallpapersafari.com/medium/14/41/QZYWhf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.1em;
    border-radius: 0.5em;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 1); 
    border: none;
}
form{
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0.5px solid #000000a4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
h1{
    text-align: center;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}
label{
    display: block;
    padding: 0.2em;
    width:97%;
    text-align: left;
}
input{
    display: block;
    width: 97%;
    padding: 0.3em;
    font-family: 'Varela Round', sans-serif;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.274); 
    border: none;
    background-color:white;
    opacity: 0.7;
    border-radius: 0.2em;
    font-weight: lighter;
}
.create{
    background-color: #228B22;
    color: white;
    opacity: 0.9;
    border-style: none;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 98%;
    padding: 0.7em;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.877);
    font-family: 'Varela Round', sans-serif;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9); 
    border:outset #228B22;
    border-radius: 0.2em;
}
select{
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 98%;
    background-color: rgba(152, 160, 153, 0.8);
    font-family:'Varela Round', sans-serif;
    box-shadow: 4px 4px 2px rgba(49, 56, 56, 0.37);
    border: none; 
    border-radius: 0.2em; 
}
body{
    background-image: linear-gradient(45deg, #33a86a71 0%, #dbd64446 90%);
    font-family:'Varela Round', sans-serif;  
}
#error{
    width: 97%;
    color: rgba(243, 20, 20, 0.725);
    text-align: left;
}
#movie-list{
    width: 97%;
    text-align: left;
    font-size: 0.8em;
}
